.snake_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #2F4858;
    border-radius: 4px;
    border: solid 0.5px rgb(173, 176, 173);
    animation: fadeOut 2s infinite;
    --border-snake-50: solid 1.5px #296071;
    --border-snake-100: solid 0.5px #1B7884;
    /* box-shadow: 0 0 20px rgb(123, 0, 255); */
    z-index: 10;

  }

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
    border: var(--border-snake-50);
  }
  100% {
    opacity: 0.5;
    border: var(--border-snake-100);
  }
}


.invisible { 
  background-color: transparent;
  border: none;
  animation: none; 
  box-shadow: 0 30px 50px #e9ece8
}

.blinking {
  animation: blinking 0.4s infinite;
}

@keyframes blinking {
  0% { 
    opacity: 1;
    background-color: rgb(182, 246, 157);
  }
  20% { 
    background-color: transparent;
  }
  50% {
    opacity: 0;
   }
  100% { 
    opacity: 1;
    background-color: rgb(178, 127, 226);
  }
}

.freez {
  background-color: rgb(45, 208, 245);
  box-shadow: 0 0 40px rgb(236, 239, 239);
  --border-snake-50: solid 1.2px rgb(29, 146, 219);
  --border-snake-100: solid 0.7px rgb(255, 255, 255);
} 

.hot {
  background-color: rgb(246, 61, 61);
  box-shadow: 0 20px 60px rgb(226, 120, 14);
  --border-snake-50: solid 1.2px rgb(255, 187, 0);
  --border-snake-100: solid 0.7px rgb(253, 0, 0);
} 