.snake_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #37c96b;
    border: solid 0.5px rgb(173, 176, 173);
    border-radius: 15%;
    animation: fadeOut 3s infinite;
    --border-snake-50: solid 1px #2aa557;
    --border-snake-100: solid 1px #57e08c;
    box-shadow: 0 0 3px rgb(0, 0, 0); 
    z-index: 4;

  }
 
@keyframes fadeOut {
  0% {

    border: var(--border-snake-100);
    opacity: 1;
  } 
  50% {
    opacity: 0.95;
    border: var(--border-snake-50);
  }
  100% {
    opacity: 0.9;
    border: var(--border-snake-100);
  }
}

.snake_head {
  background-color: #37c96b
}

.snake_head_right {
  border-radius: 10% 50% 50% 10%;
}

.snake_head_left {
  border-radius: 50% 10% 10% 50%;
}

.snake_head_up {
  border-radius: 50% 50% 10% 10%;
}

.snake_head_down {
  border-radius: 10% 10% 50% 50%;
}


 
.invisible {  
  animation: sizeing 1s infinite;
  background-color: fuchsia;
}

@keyframes sizeing {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.blinking { 
  animation: blinking 2s infinite;
} 

@keyframes blinking {
  0% { 
    background-color: rgb(76, 255, 5);
  }
  10% {
    background: transparent;
  }
  20% { 
    background-color: rgb(100, 96, 96);
  } 
  40% {
    background: transparent;
  }
  50% {
    background-color: rgb(51, 183, 39);
   }
   70% {
    background: transparent;
  }
  100% { 
    background-color: rgb(212, 212, 211);
  }
}
 
.freez {
  background-color: rgb(0, 255, 238);
  box-shadow: 0 0 40px rgb(236, 239, 239);
  --border-snake-50: solid 1px rgb(29, 146, 219);
  --border-snake-100: solid 1px rgb(255, 255, 255);
} 

.hot {
  background-color: rgb(246, 61, 61);
  box-shadow: 0 20px 60px rgb(226, 120, 14);
  --border-snake-50: solid 1px rgb(255, 187, 0);
  --border-snake-100: solid 1px rgb(253, 0, 0);
} 

.cut_tail {
  opacity: 1;
  animation: none;
  background-color: #ffffff;
  border: none; 
  border: 1px solid rgb(18, 17, 17);
  animation: wall 4s infinite;
}

.invulnerable {
  opacity: 0.5;
  animation: pulse 0.5s infinite alternate;
}
@keyframes pulse {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes wall {
  from { border: 1px solid rgb(255, 0, 0); }
  to { border: 1px solid rgb(142, 142, 142); }
}
