.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .modal {
    position: relative;
    background: rgba(172, 227, 45, 0.7);
    box-shadow: 0 0 10px rgb(172, 227, 45); 
    padding: 20px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    width: 150px;
    background-color: #6d6d6d;
    border: none;
    font-size: 15px;
    font-family: 'Undertale_Battle_Font';
    font-weight: 800;
    color: #C0DC80;
  }
  .button:hover {
    /* animation: btn_focus 4s ease; */
    transform: scale(1.1);
  }

  .title {
    text-transform: capitalize;
    color: #505050;
    font-size: 25px;
    font-weight: 500;
  }

  .input {
    width: 150px;
    height: 30px;
    font-family: inherit;
    font-size: 20px;
    border: none;
    color: #296071;
    margin-bottom: 10px;
  }

  .input::placeholder {
    opacity: 0.3;
  }

  .input:focus {
    border: none;
    outline: none;
    width: 200px;
  }

  .result_row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    width: 100%;
  }

  .close_btn {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(8, 8, 7, 0.3);
  }

  .close_btn:hover {
    transform: rotate(90);
    background-color: red;
  }

  .input_label {
    font-size: 15px;
    color: #296071;
  }

  .custom_checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  .custom_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .custom_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 0; /* Углы не скруглены */
  }
  
  .custom_checkbox input:checked + .checkmark {
    background-color: #2196F3;
    border: 2px solid #2196F3;
  }
  
  .custom_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom_checkbox input:checked + .checkmark:after {
    display: block;
  }
  
  .custom_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  