.snake_dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: rgb(22, 88, 22);
    /* border-radius: 3px; */
    border: solid 0.5px rgb(16, 243, 43);
    animation: fadeOut 1s infinite;
    /* box-shadow: 0 0 20px rgb(123, 0, 255); */
    z-index: 10;

  }

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
    border: solid 0.5px rgb(10, 1, 13);
  }
}