.main_window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.game_area {
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 650px;
  height: 650px;
  border: 1px solid #296071;
  /* margin: 50px auto; */
  margin-top: 20px;
  background: #5EC28F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speed_window {
  position: absolute;
  font-size: 20px;
  opacity: 0.3;
  color: rgb(57, 125, 11);
  top: 450px;
}

  .path_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .inform_box { 
    border: 1px solid #296071;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 50px;
    background-color: #5EC28F;
  }