@font-face {
  font-family: 'Undertale_Battle_Font';
  src: url('./assests/fonts/undertale_battle_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* background-color: #17918F; */
  background-image: url(./assests/img/background_1.webp);
  background-size: cover;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  font-family: 'Undertale_Battle_Font', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: gradientAnimation 30s ease-in-out infinite;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
