.game_area {
  margin: 0 auto;
  position: relative;
  width: 650px;
  height: 650px;
  border: 1px solid black;
  margin: 50px auto;
  background: rgb(151, 215, 151);
  display: flex;
  align-items: center;
  justify-content: center;
}
